extends layout

block content
    h1  Get an account and get learning!
    section.css-table
        h1 Update your password

        - if(locals.flashmsg)
            div(id="flash", class="alert alert-error") #{locals.flashmsg}

        form(name="changepassword", action="/change-password", method="post")
          div
            label Password:
            input(name='password')
          div
            label Confirm password:
            input(type="password", name='confirmPassword')
          div
            input(type="hidden", name="token", value="#{locals.passwordResetToken}")
            input(type="submit", id='changepassword', value="Update password")


