extends layout

block content
    h1  Get an account and get learning!
    section.css-table
        h1 Request a new password

        - if(locals.flashmsg)
            div(class="alert alert-error") #{locals.flashmsg}

        form(name="passwordrequest", action="/request-password", method="post")
          div
            label Email:
            input(name='email')
          div
            input(type="submit", id='register', value="Register")

