    | Hi #{user.username},
    |
    | You requested a password reset. Go to the following url:
    |
    | http://localhost:2999/changepassword/#{passwordreset.token}
    |
    | This link must be used within 24 hours of requesting it! Then it will self destruct...
    |
    | Regards,
    |
    | Paul